

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 95%;
    min-height: 600px;
    background-color: #DBDBDB;
    /* color: #1C203D; */
    color: black;
    flex-wrap: wrap;
  
}

#explanation{
    display: flex;
    width: 75%;
    min-height: 100px;
    margin-top: 10px;
    justify-content: space-between;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 22px;
    flex-direction: column;
    flex-wrap: wrap;
}

#content{
    display: flex;
    flex-direction: column;
    width: 85%;
    min-height: 250px;
    background-color: white;
    padding: 30px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#content p{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

