
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(236, 236, 236);
}

.footer-menu{
    display: flex;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.footer-menu a {
    color: black;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
}

.footer-menu a:hover{
    text-decoration: underline;
}

.socialNetworks{
    display: flex;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.socialNetworks img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.references{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 15px;
    margin-top: 15px;

}

.references a{
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

.references a:hover{
    text-decoration: underline;
}

@media only screen and (max-width:600px){
    .footer-menu , .socialNetworks{
        display: flex;
        flex-direction: column;
    }
}
