.styled-table {
    width: 40vw;
    border-collapse: collapse;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 20px 10px;
}

.styled-table thead tr {
    background-color: #19B3D3;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #19B3D3;
}

#editBtn{
    padding: 5px 7px;
    color: black;
    border: 1px solid #19B3D3;
    text-decoration: none;

}

